body {
    font-family: sans-serif;
    background: linear-gradient(to right, rgb(125, 127, 127) 30%, rgb(124, 98, 124) 70%);
    color: #333;
}

/* Burada yazdığımız CSS kodları, Tailwind CSS ile birlikte kullanılacak. */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Burada yazdığımız CSS kodları, Tailwind CSS ile birlikte kullanılacak. */